{% extends "SimpleThingsEntityAuditBundle::layout.html.twig" %}
{% import "SimpleThingsEntityAuditBundle::macros.html.twig" as macros %}

{% block simplethings_entityaudit_content %}
<h1>Comparing {{ className }} with identifiers of {{ id }} between revisions {{ oldRev }} and {{ newRev }}</h1>

<table>
    <thead><tr>
        <th>Field</th>
        <th>Deleted</th>
        <th>Same</th>
        <th>Updated</th>
    </tr></thead>
    <tbody>
    {% for field, value in diff %}
    {% set type = metadata.fieldMappings[field].type %}
    <tr>
        <td>{{ field }}</td>
        <td>{{ macros.format(value.old, type) }}</td>
        <td>{{ macros.format(value.same, type) }}</td>
        <td>{{ macros.format(value.new, type) }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock simplethings_entityaudit_content %}
