{% extends "SimpleThingsEntityAuditBundle::layout.html.twig" %}

{% block simplethings_entityaudit_content %}
<h1>Detail of {{ className }} with identifiers of {{ id }} at revisions {{ rev }}</h1>

<p><a href="{{ path('simple_things_entity_audit_viewentity', { 'className': className, 'id': id }) }}">Compare revisions</a></p>
<table>
    <thead><tr>
        <th>Field</th>
        <th>Value</th>
    </tr></thead>
    <tbody>
    {% for field, value in data %}
    <tr>
        <td>{{ field }}</td>
        <td>{{ value }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock simplethings_entityaudit_content %}